In [1]:
# Import Packages

# Array and Dataframe processing:
import pandas as pd
import numpy as np

# Visualization:
import seaborn as sns
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

In [2]:
df = pd.read_excel("../data/data_employee_relations.xls")
df.head()

,Employeed ID,Department,Location,Position Level,Manager,Race,Gender,Issue,PIP Start,PIP End,Verbal Warning,Written Warning,Termination,Status,HR Staff
0,1,Manufacturing,San Francisco,Professional,0.723952,Hispanic,Male,Theft,2010-04-10 00:00:00,2010-06-10 00:00:00,Yes,Yes,No,Open,HR Staff 2
1,2,Marketing,San Francisco,Professional,4.978255,Hispanic,Male,Performance,2010-03-15 00:00:00,2010-06-15 00:00:00,Yes,Yes,No,Open,HR Staff 5
2,3,Finance/Accounting,New York,Support,5.347443,Hispanic,Male,Performance,2010-04-01 00:00:00,2010-07-01 00:00:00,Yes,Yes,Yes,Open,HR Staff 4
3,4,IT,Miami,Professional,2.687382,Hispanic,Male,Performance,No,No,Yes,No,No,Open,HR Staff 5
4,5,IT,New York,Professional,0.723952,Hispanic,Male,Performance,2010-04-01 00:00:00,2010-07-01 00:00:00,Yes,No,No,Open,HR Staff 3

### Data Cleaning

In [3]:
# Checking column names, data types and null values":
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Employeed ID     100 non-null    int64
 1   Department       100 non-null    object
 2   Location         100 non-null    object
 3   Position Level   100 non-null    object
 4   Manager          100 non-null    float64
 5   Race             100 non-null    object
 6   Gender           100 non-null    object
 7   Issue            100 non-null    object
 8   PIP Start        100 non-null    object
 9   PIP End          100 non-null    object
 10  Verbal Warning   100 non-null    object
 11  Written Warning  100 non-null    object
 12  Termination      100 non-null    object
 13  Status           100 non-null    object
 14  HR Staff         100 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 11.8+ KB

In [4]:
df.isna().sum()

Employeed ID       0
Department         0
Location           0
Position Level     0
Manager            0
Race               0
Gender             0
Issue              0
PIP Start          0
PIP End            0
Verbal Warning     0
Written Warning    0
Termination        0
Status             0
HR Staff           0
dtype: int64

There are no null-values and columns are appropriately named.  The data types for each column are correct with the exception of df["Manager"]. This will be changed from a float to an int.

In [5]:
df["Manager"] = df["Manager"].astype("int")

In [6]:
# checking data types again:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Employeed ID     100 non-null    int64
 1   Department       100 non-null    object
 2   Location         100 non-null    object
 3   Position Level   100 non-null    object
 4   Manager          100 non-null    int64
 5   Race             100 non-null    object
 6   Gender           100 non-null    object
 7   Issue            100 non-null    object
 8   PIP Start        100 non-null    object
 9   PIP End          100 non-null    object
 10  Verbal Warning   100 non-null    object
 11  Written Warning  100 non-null    object
 12  Termination      100 non-null    object
 13  Status           100 non-null    object
 14  HR Staff         100 non-null    object
dtypes: int64(2), object(13)
memory usage: 11.8+ KB